.images img
{
    height: 150px;
    width: 150px;
}

.about 
{
    text-justify: justify;
}

.horizontal
{
    display: block;
    float: right;
    padding: 5px;
    
}


/* body untuk membentuk footer */
body {
    font-family: sans-serif;
    display: flex;
    min-height: 100vh;
    flex-direction: column;
  }

  main {
    flex: 1 0 auto;
  }
  
  /* tutup body */

.hover a
{
    color: #607d8b;
}

.hover a:hover
{
    color: #26a69a;
    transition: all ease-in 0.5s;
}


@media only screen and (max-width: 600px)
{
    .list .new {
        visibility: hidden;
    }

    .list a {
        font-size: 0.9em;
    }

}


/* Flags navigation */
.flagselect {
    border: 1px solid #ee0f0f;
    padding: 0px;
    margin: 0px;
    font-weight: bold;
    color: black;
    font-size: 90%;
  }
  .flagnoselect {
    padding: 0px;
    margin: 0px;
    color: #333333;
    font-size: 90%;
  }
  